---
layout: default
title : Publications
navbar_title: Publications
body_attr: >-
  data-spy="scroll" data-target="#navbar-year" data-offset="100"
---

{% assign pubs_by_year = site.publications | sort: "date" | reverse | group_by_exp: "item", "item.date | date: '%Y'" %}

<div class="row">
    <div class="col-12 col-lg-10">
        {%- assign show_legend_eq = false -%}
        {%- assign show_legend_pl = false -%}
        {%- for item in site.publications -%}
            {%- for author_key in item.authors -%}
                {%- if author_key contains "*" -%}{%- assign show_legend_eq = true -%}{%- endif -%}
                {%- if author_key contains "#" -%}{%- assign show_legend_pl = true -%}{%- endif -%}
            {%- endfor -%}
        {%- endfor -%}
        {% if show_legend_eq or show_legend_pl %}
        <div class="small mb-3">
            <span class="p-1 rounded" style="background-color: #fffbea;">
                (
                {%- if show_legend_eq -%}
                    *&nbsp;<i>equal contribution</i>
                {%- endif -%}
                {%- if show_legend_pl -%}
                    {%- if show_legend_eq -%}, {% endif -%}
                    <sup><i class="fas fa-envelope"></i></sup>&nbsp;<i>project lead</i>
                {%- endif -%}
                )
            </span>
        </div>
        {% endif %}

        {% for year in pubs_by_year %}
        {% assign num_papers = year.items | size %}
        <h2 class="pt-4" id="year-{{ year.name }}">{{ year.name }}</h2>
        <div class="my-0 p-0 bg-white shadow-sm rounded-xl">
            {% for item in year.items %}
                {% include widgets/publication_item.html item=item hide_bottom_border=forloop.last first=forloop.first last=forloop.last %}
            {% endfor %}
        </div>
        {% endfor %}
    </div>

    <div class="col-2 d-none d-lg-block">
        <div id="navbar-year" class="nav nav-pills flex-column sticky-top" style="top: 80px">
            {% for year in pubs_by_year %}
            <a class="nav-link d-block" href="#year-{{ year.name }}">{{ year.name }}</a>
            {% endfor %}
        </div>
    </div>

</div>
