{%- assign authors = include.authors -%}
{%- assign has_eq_contrib = false -%}
{%- assign has_project_lead = false -%}

{%- for _key in authors -%}
    {%- assign key = _key | replace: "#", "" | replace: "*", "" -%}
    {%- assign mark = "" -%}
    {%- if _key contains "*" -%}
        {%- assign has_eq_contrib = true -%}
        {%- assign mark = mark | append: "*" -%}
    {%- endif -%}
    {%- if _key contains "#" -%}
        {%- assign has_project_lead = true -%}
        {%- assign mark = mark | append: '<sup><i class="fas fa-envelope"></i></sup>' -%}
    {%- endif -%}

    {%- assign info = site.data.authors[key] -%}

    {%- if info['name'] -%}
        {%- assign name = info['name'] -%}
    {%- else -%}
        {%- assign name = key -%}
    {%- endif -%}

    {%- if info['bold'] == true -%}
        {%- assign display_name = name | append: mark | prepend: "<strong>" | append: "</strong>" -%}
    {%- else -%}
        {%- assign display_name = name | append: mark -%}
    {%- endif -%}
    
    {%- if info['url'] -%}
        <a class="text-body" target="_blank" href="{{ info['url'] }}">{{ display_name }}</a>{%- if forloop.index < authors.size -%}, {% endif -%}
    {%- else -%}
        <span class="text-body">
            {{ display_name }}{%- if forloop.index < authors.size -%}, {% endif -%}
        </span>
    {%- endif -%}

{%- endfor -%}
